# Copy this file to .env and fill in the appropriate values. Refer to README.md
# for instructions on where to find them.
FLASK_APP=api
ASTRA_DB_BUNDLE_PATH=secure-connect.zip
ASTRA_DB_KEYSPACE=todos
